*{box-sizing: border-box;}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#minibody{
    display: flex;
    flex-direction: column;
}
.container{
    padding: 0%;
    margin: 0%;
}
footer{
    color: white;
}
#quote-box{
    background-color: white;
    max-width: 600px;
    min-width: 300px;
    border-radius: .5em;
    padding: 0%;
    margin: 0%;
}
.author{
    float: right;
}
.textContainer{
    margin: 1rem
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#facebut, #twitbut, #button {
    color: white;
}
#button{
    white-space: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

#twitbut{
    margin-right: 1rem;
    margin-left: 1rem;
}
footer{
    margin-top: 1rem;
}
/*--- Set Media Quries font screen size of 700px an up ---*/
@media (max-width: 700px){
    #main{
        min-width: 412px;
    }
    #quote-box{
        max-width: 80%;

    }
    #facebut, #twitbut, #button {
        font-size: 14px;
    }
    .text-center>h2{
        font-size: 16px;
    }
    .author>h4{
        font-size: 16px;
    }
    footer{
        font-size: 12px;
    }
}
